.footer{
    background-color:rgb(138, 127, 127);
    display: flex;
    padding: 0,9%;
    align-items: center; 
    justify-content: space-between;
}

.cabecalho2 {
    display: flex;
    justify-content: space-between;
    color: #000000;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cabecalho3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.frase{
    font-size: 13px;
}