.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    background: linear-gradient(rgb(48, 46, 48), rgb(51, 51, 52),rgb(76, 76, 82), rgb(152, 148, 155)) fixed;
    min-height: 100vh;
}

.card{
    flex-basis: calc(33.333% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    background-color: rgb(143, 151, 147);
    margin: 25px 0;
    box-sizing: border-box;
}
